* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(2, 2, 29);
    color: rgb(253, 241, 191);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

section{
    width: 100%;
    height: 100vh;
}

.left{
    width: 100%;
    height: 50vh;
}

.right{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Dancing Script', cursive;
}

.right .small-txt{
    text-align: center;
    font-size: 2rem;
}

.right .big-txt{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    color: rgb(226, 53, 88);
}

.btn{
    padding: 15px 50px;
    border: 2px solid rgb(253, 241, 191);
    color: rgb(253, 241, 191);
    text-decoration: none;
    font-size: 19px;
    transition: 200ms;
}
.btn:hover{
    background-color: rgb(253, 241, 191);
    color: rgb(2, 2, 29);
    transform: scale(1);
}

.cornsilk{
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    top: 16%;
    overflow:visible;
}
.red{
    position: relative;
    left: 18%;
    transform: translateX(-50%);
    top: 9.5%;
    overflow:visible;
}

img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 13%;
}

.intro{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    background-color: rgb(2, 2, 29);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-txt .text{
    font-size: 25px;
    font-weight: 300;
}

.hidden{
    background-color: rgb(2, 2, 29);
    overflow: hidden;
}

.hidden span{
    display: inline-block;
    transform: translateX(100%);
}

.intro2{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    background-color: rgb(253, 241, 191);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
}
.intro-txt2 .text2{
    font-size: 30px;
    font-weight: 400;
    color: rgb(2, 2, 29);
}

.hidden2{
    background-color:  rgb(253, 241, 191);
    overflow: hidden;
}

.hidden2 span{
    display: inline-block;
    transform: translateX(-100%);
}

.sec2{
    position: relative;
    background-color:  rgb(253, 241, 191);
    color: rgb(2, 2, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.txt{
    font-size: 2rem;
    font-weight: 500;
    overflow: hidden;
}

.txt div{
    padding: 10px;
    transition: 200ms;
}

@media only screen and (min-width: 1020px){
    body{
        flex-direction: row;
    }
    .cornsilk{
        left: 46%;
        top: 30%;
    }
    .red{
        left: 25%;
        top: 27%;
    }
    img{
        left: 25%;
        top: 35%;
    }
    section{
        width: 100%;
        height: 100vh;
        display: flex;
    }
    .left{
        width: 50%;
        height: 100vh;
    }
    .right{
        width: 50%;
        height: 100vh;
    }
    .txt{
        font-size: 3rem;
    }
}